<!doctype html>
<html ng-app='votr'>

<head>
  <title>Deus Ex Machina</title>
  <link rel='stylesheet' href='/stylesheets/flatly/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />

  <link rel='stylesheet' href='/stylesheets/switch.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-resource.min.js"></script>
  <script src="/javascripts/angular-route.min.js"></script>
  <script src="/javascripts/votr.js"></script>
  <script src="/javascripts/util.js"></script>
</head>

<body ng-init="username='{{username}}'">
  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div style="margin-left:20px">
          <a class="brand" href="#/">Mount Olympus</a>
          <ul class="nav">
            <li ng-show="loggedIn"><a href="#/">Cues</a>
            </li>
            <li ng-show="loggedIn"><a href="#/manage">Manage</a>
            </li>
            <li ng-show="loggedIn"><a href="#/performances">Performances</a>
            </li>
            <li ng-show="loggedIn"><a href="#/voters">Voters</a>
            </li>
            <li ng-show="loggedIn"><a href="#/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content" ng-view></div>
  </div>
</body>

</html>
