<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/animations.css">
    <style>
      g.highcharts-legend-item {
        display: none;
      }
      g.highcharts-xaxis-labels {
        display: none;
      }
      body {
        background-image: url(/img/scroll.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .container {
        padding: 40px;
      }
      svg > text {
        display: none;
      }
    </style>
    <script type="text/javascript" src="/socket.io/socket.io.js">
    </script>
    <script src="/javascripts/jquery.js">
    </script>
    <script src="http://code.highcharts.com/highcharts.js">
    </script>
    <script src="http://code.highcharts.com/modules/exporting.js">
    </script>
</head>
<body>
  {{> e }}
</body>
</html>
