<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet" type="text/css" />
<style>
  .wrapper {
    position:absolute;
    top: 0;
    left: 0;
    width: 1600px;
    height: 1200px;
    background-color: rgba(50, 50, 50, 0.9);
  }
  h3, h5, h1 {
    margin: 5px;
    padding: 0;
  }
  #leaderboard {
    font-family: 'Josefin Sans', sans-serif;
    font-size : 95px;
    line-height: 95px;
    text-transform: uppercase;
    color: #f0c05b;
    width: 100%;
    text-align: center;
    margin-left: 30px;
    
  }
  .table {
    color: #f0c05b;    
    margin: auto;
    width: 1400px;
    margin-top: 100px;
  }
  .table th, .table td {
    font-size : 95px;
    line-height: 100px;
    text-align: center;
    border-top: none !important;
  }
</style>
<script src="/javascripts/jquery.js"></script>

<div class="wrapper">
  

<div id="leaderboard">
    <br />
    <h3>Power Leaderboard</h3>
    <h5>(Climb Olympus)</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Phone</th>
        <th>Votes</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
  
</div>
</div>
<script>
  function updateView() {
    $.get("/api/show/current", function(data) {
      var currentShow = data._id;
      $.get("/api/voters", function(allVoters) {
        var voters = [];
        var i;
        for (i = 0; i < allVoters.length; i++) {
          if (allVoters[i].shows && allVoters[i].shows.indexOf(currentShow) >= 0) {
            voters.push(allVoters[i]);
          }
        }
        voters.sort(function(a, b) {
          return b.votes - a.votes;
        });
        
        var output = "";
        for (i = 0; i < Math.min(5, voters.length); i++) {
          var phone = "###-###-" + voters[i].phonenumber.substr(-4);
          output += "<tr><td>" + phone + "</td><td>" + voters[i].votes + "</td></tr>";
        }
        $('#leaderboard table tbody').html($(output));
        setTimeout(updateView, 1000);

      });

    });
  }
  updateView();
</script>