<!DOCTYPE html>
<html lang="en" manifest="/plugin/cue/offline.appcache">

<head>
  <meta name="viewport" content="width = device-width, initial-scale = 0.8"/>
  <meta charset="utf-8">
  <title>{{ name }}</title>
  <link rel="prefetch" href="/plugin/cue/sounds/No with out.wav" />
  <link rel="prefetch" href="/plugin/cue/sounds/Oracle Voting Sequence (Modified Final).wav" />
  <link rel="prefetch" href="/plugin/cue/sounds/Whisper (1min length).wav" />
  <link rel="prefetch" href="/plugin/cue/sounds/Whisper Pop in Sound.wav" />
  <link rel="prefetch" href="/plugin/cue/sounds/Yes with out.wav" />
  <link rel="prefetch" href="/plugin/cue/images/01a_TestProphecy.png" />
  <link rel="prefetch" href="/plugin/cue/images/01b_TestProphecy.png" />
  <link rel="prefetch" href="/plugin/cue/images/02a_Clytemnestra.png" />
  <link rel="prefetch" href="/plugin/cue/images/02b_Clytemnestra.png" />
  <link rel="prefetch" href="/plugin/cue/images/03Aa_Electra.png" />
  <link rel="prefetch" href="/plugin/cue/images/03Ab_Electra.png" />
  <link rel="prefetch" href="/plugin/cue/images/04Ba_Electra.png" />
  <link rel="prefetch" href="/plugin/cue/images/04Bb_Electra.png" />
  <link rel="prefetch" href="/plugin/cue/images/05Aa_Electra.png" />
  <link rel="prefetch" href="/plugin/cue/images/05Ab_Electra.png" />
  <link rel="prefetch" href="/plugin/cue/images/05Ba_Electra.png" />
  <link rel="prefetch" href="/plugin/cue/images/05Bb_Electra.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Aa1_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Aa2_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Aa3_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Ab1_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Ab2_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Ab3_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Ba1_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Ba2_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Ba3_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Bb1_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Bb2_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/06Bb3_Orestes.png" />
  <link rel="prefetch" href="/plugin/cue/images/cueview-off.png" />
  <link rel="prefetch" href="/plugin/cue/images/cueview-on.png" />
  <link rel="prefetch" href="/plugin/cue/images/drone-off.jpg" />
  <link rel="prefetch" href="/plugin/cue/images/drone-on.jpg" />
  <link rel="prefetch" href="/plugin/cue/images/GodIcon_Apollo.png" />
  <link rel="prefetch" href="/plugin/cue/images/GodIcon_Athena.png" />
  <link rel="prefetch" href="/plugin/cue/images/GodIcon_Hera.png" />
  <link rel="prefetch" href="/plugin/cue/images/GodIcon_Zeus.png" />
  <link rel="prefetch" href="/plugin/cue/images/HP_FXTest01.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_OresDialog2_Scream.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_Pg17_ClytDialog2.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_Pg17_ClytDialog.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_Pg19_ClytDialog.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_Pg19_ClytPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_Pg19_ClytProphecy_02a.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_Pg19_ClytProphecy_02b.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_Pg7c_ZeusPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_Pg8_ZeusProphecy_01a.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_Pg8_ZeusProphecy_01b.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA1-15_OresPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA1-15_OresProphecy_06Aa1.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA1-15_OresProphecy_06Aa2.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA1-15_OresProphecy_06Aa3.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA1-17_OresDialog1.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA19_ElecDialog.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA2-1_ElecDialog.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA21_ElecPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA21_ElecProphecy_03Aa.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA21_ElecProphecy_03Ab.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA2-21_OresPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA2-21_OresProphecy_06Ab1.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA2-21_OresProphecy_06Ab2.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA2-21_OresProphecy_06Ab3.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA25_ElecPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA25_ElecProphecy_05Aa.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgA25_ElecProphecy_05Ab.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB1-20_OresPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB1-20_OresProphecy_06Ba1.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB1-20_OresProphecy_06Ba2.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB1-20_OresProphecy_06Ba3.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB20-No_ElecDialog1.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB20-No_ElecDialog2.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB20-No_ElecDialog3.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB20-Yes_ElecDialog.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB2-16_OresPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB2-16_OresProphecy_06Bb1.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB2-16_OresProphecy_06Bb2.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB2-16_OresProphecy_06Bb3.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB22_ElecPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB22_ElecProphecy_04Ba.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB22_ElecProphecy_04Bb.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB26_ElecPrayerChant.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB26_ElecProphecy_05Ba.mov" />
  <link rel="prefetch" href="/plugin/cue/images/HP_PgB26_ElecProphecy_05Bb.mov" />
  <link rel="prefetch" href="/plugin/cue/images/Ouroboros2.png" />
  <link rel="prefetch" href="/plugin/cue/images/OuroborosDesat.png" />
  <link rel="prefetch" href="/plugin/cue/images/Ouroboros.png" />
  <link rel="prefetch" href="/plugin/cue/images/VE_Smoke_Bkgrnd.mov" />
  <link rel="prefetch" href="/plugin/cue/images/WhisperSmoke.mov" />  

  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/animations.css">{{#styles}}
  <link rel="stylesheet" href="{{.}}">{{/styles}}
  <style>
    body {
      width: 1600px;
      height: 1000px;
      overflow: hidden;
    }
    #backvid {
      top: 0;
      left: 0;
      width: 1600px;
      height: 1200px;
      position: absolute;
      z-index: -1;
      pointer-events: none;
      object-fit: fill;
    }
    #frontvid {
      top: 0;
      left: 0;
      height: 1200px;
      width: 1600px;
      position: absolute;
      z-index: 50;
      pointer-events: none;
      object-fit: fill;      
    }
    #hud {
      display: none;
    }
    header {
      position: absolute;
      z-index: 50;
      right: 50px;
    }
    .oracle-view, .all-view {
      z-index: 50;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  </style>
</head>

<body>
  
  <canvas id="cue-canvas">
  </canvas>
  <div class="oracle-view all-view">
    
  </div>
  
  <video loop id="backvid" autoplay>
     <source src="http://162.221.181.72:3000/plugin/cue/images/WhisperSmoke.mov" type="video/mp4"/>
  </video>  
  <!--img src="/img/frame2.png" id="frame" /-->


  <script type="text/javascript" src="/socket.io/socket.io.js">
  </script>
  <script src="/javascripts/mustache.js">
  </script>
  <script src="/javascripts/jquery.js">
  </script>
  <script src="/javascripts/createjs-2014.12.12.min.js">
  </script>
  <script type="text/javascript" src="/javascripts/olympus.js">
  </script>
  {{#scripts}}
  <script type="text/javascript" src="{{.}}">
  </script>
  {{/scripts}}
  <script>
    createjs.Sound.registerSound("/plugin/cue/sounds/Whisper (No Click) scratch mix.wav", "whisper-transition");
    createjs.Sound.registerSound("/plugin/cue/sounds/Whisper Pop in Sound.wav", "whisper-start");
    createjs.Sound.registerSound("/plugin/cue/sounds/Yes with out.wav", "yes");
    createjs.Sound.registerSound("/plugin/cue/sounds/No with out.wav", "no");


    var canvas = document.getElementById("cue-canvas");
    canvas.width = $(window).width();
    canvas.height = $(window).height();
    var stage = new createjs.Stage("cue-canvas");
    stage.autoClear = true;
    var elements = [];
    createjs.Ticker.addEventListener("tick", handleTick);

    function handleTick(event) {
      for(i = 0; i < elements.length; i++) {
        elements[i].draw(stage);
      }
      stage.update();
    }
    
    var olympus = new Olympus();
    
    var socket = io.connect();
    
    {{#eventOverride}}
      socket.emit('/cue/manual', {
        event_id: '{{eventOverride}}',
        screen: 'hud'
      });
    {{/eventOverride}}
    
    socket.on("/cue/leaderboard", function(cmd) {
      $.get("/leaderboard", {}, function(responseText, textStatus) {
        $('.oracle-view').html($(responseText));
      });
      
    });
    
    socket.on("/cue/playvideo", function(cmd) {
      window.console.log("Got request to play video", cmd.mov);
      $('.oracle-view').html($('<video id="frontvid" autoplay><source src="http://162.221.181.72:3000/plugin/cue/images/' + cmd.mov + '" type="video/mp4"/></video>'));
      $('#frontvid')[0].onended = function(e) {
        window.console.log("Clearing screen.");
        socket.emit('/clear', 'all');
      };
    });
    
  </script>

</body>

</html>
