

<div ng-show="loggedIn">
<h3>Cue Map</h3>
<div class="tree well">
  <script type="text/ng-template" id="tree_item_renderer.html">        
          <div ng-model="data">
            <a class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle(data)"><span class="icon-chevron-down" 
              ng-class="collapsed ? 'icon-chevron-right' :'icon-chevron-down'"></span>
            </a>
            <select ng-change="change(data)" ng-model="data.cue" ng-options="event._id as event.name for event in events">
              <option value="" disabled>Choose cue</option>
            </select>
            {{data.title}}
          </div>
          <ul ng-model="data.nodes">
            <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
          </ul>
  </script>

  
  <div class="row">
    <div class="span5">
    <ul ng-mode="tree">
      <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
    </ul>
    </div>
    <div class="span4">
      <pre class="code">{{ tree | json }}</pre>
    </div>
  </div>
      <div class='footer'>
      <button type='submit' class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
    </div>


</div>

</div>
</div>
