<div class='modal-header'>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 ng-hide='newEvent'>Edit Cue: {{event.name}}</h3>
  <h3 ng-show='newEvent'>New Cue</h3>
</div>
<form>
  <fieldset>
    <div class='modal-body'>
      <label>Name</label>
      <input type='text' ng-model="event.name"/>
      <label>Short Name</label>
      <input type='text' ng-model="event.shortname"/>
      <label>Voting Cue</label>
      <input type='checkbox' ng-model="event.voting" />
      <label>Allow multiple votes</label>
      <input type='checkbox' ng-model="event.multiple" />
      <label>View</label>
      <input type='text' ng-model="event.view"/>
      
      <label>Movie</label>
      <input type='text' ng-model="event.movie"/>
      
      
      <label>Screen</label>
      <select ng-model="event.screen">
        <option value="all">All</option>
        <option value="sxsw">SXSW</option>
        <option value="hud">HUD</option>
        <option value="oracle">oracle</option>
      </select>
      

      <label>Stage</label>
      <select ng-model="event.stage">
        <option value="none">none</option>
        <option value="whisper">whisper</option>
        <option value="dual">dual</option>
        <option value="tri">tri</option>
      </select>

      <label>Phone Number</label>
      <input type='text' ng-model="event.phonenumber"/>
      <label>State</label>
      <select ng-model="event.state" ng-options="opt for opt in opts"></select>
      <label title="if greater than 0 will time out after this many seconds">Timed Expiration</label>
      <input type='text' ng-model="event.timer"/>
      <label>Options</label>
      <div ng-repeat="vo in event.voteoptions">
        <fieldset>
          <legend>Option</legend>
        	<label>Label</label><input type='text' ng-model="vo.name"/>
          <label>Image</label><input type='text' ng-model="vo.img" />
          <label>Movie</label><input type='text' ng-model="vo.mov" />
          <label>Sound</label><input type='text' ng-model="vo.snd" />
        	<i class="icon-trash" ng-click='removeVoteOption(vo)'></i>
        </fieldset>
      </div>
    </div>
    <div class='modal-footer'>
      <a class="btn" ng-click='addVoteOption()'>Add Option</a>
      <button type='submit' class="btn btn-danger" data-dismiss="modal" ng-click="delete()">Delete</button>
      <button type='submit' class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
    </div>
  </fieldset>
</form>

