<script src="/socket.io/socket.io.js"></script>


<div ng-show="loggedIn">
<h3>Manage</h3>
<h5 ng-show="currentShow">Started: {{currentShow.start}}</h5>  
  <button class="btn btn-warning" ng-click="startShow()" ng-hide="currentShow">
<i class="icon-play icon-white" ></i>&nbsp;Start Show</button>
    <button class="btn btn-warning" ng-click="stopShow()" ng-show="currentShow">
<i class="icon-stop icon-white" ></i>&nbsp;Stop Show</button>
  
<div class="tree well">
  <script type="text/ng-template" id="tree_item_renderer.html">        
          <div ng-model="data" ng-show="data.nodes.length > 0">
            <a class="btn btn-xs btn-expand" data-nodrag="">
            <span class="icon-chevron-down"></span>
            </a>
            <cue show="currentShow" id="data.id" name="data.cueName"></cue>
            <a class="btn btn-success btn-xs" ng-click="setCue(data.id)">Jump</a>
            
          </div>
          <ul ng-model="data.nodes">
            <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
          </ul>
  </script>

  
  <div class="row">
    <div class="span5">
    <ul ng-mode="tree">
      <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
    </ul>
    </div>
    <div class="span4">
      <div class="row">
        <a class="btn btn-success btn-xl" ng-click="go()">Go</a>  
      </div>
      <div class="row">
        <a class="btn btn-default btn-xs" ng-click="vote()">Vote</a>  
        <a class="btn btn-warning btn-xs" ng-click="simulate()">Simulate</a>  
      </div>
      <div class="row">
        
      
      <a class="btn btn-warning btn-xs" ng-click="clear('all')">Clear All</a>
      <a class="btn btn-warning btn-xs" ng-click="clear('hud')">Clear HUD</a>
      <a class="btn btn-warning btn-xs" ng-click="clear('oracle')">Clear Oracle</a>
      </div>
      
      <!--pre ng-show="currentShow" class="code">{{ currentShow | json }}</pre-->
    </div>
  </div>
      <div class='footer'>
    </div>


</div>

<script type="text/javascript">
  //window.console.log({{currentShow | json}});
  $(document).on('click.expand', '.btn-expand, .btn-expand span', function(e) {
    e.stopPropagation();
    var link = $(e.target);
    toggleTree(link);
  })
</script>