

<div ng-show="loggedIn">
<h3>Manage</h3>
<div class="tree well">
  <script type="text/ng-template" id="tree_item_renderer.html">        
          <div ng-model="data">
            <a class="btn btn-success btn-xs btn-expand" data-nodrag="">
            <span class="icon-chevron-down"></span>
            </a>
            {{data.cueName}}
          </div>
          <ul ng-model="data.nodes">
            <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
          </ul>
  </script>

  
  <div class="row">
    <div class="span5">
    <ul ng-mode="tree">
      <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
    </ul>
    </div>
    <div class="span4">
      <h3>TODO: Put Clear Buttons Here</h3>
    </div>
  </div>
      <div class='footer'>
      <button type='submit' class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
    </div>


</div>

<script type="text/javascript">
  $(document).on('click.expand', $('.btn-expand, .btn-expand span'), function(e) {
    var link = $(e.target);
    toggleTree(link);
  })
</script>